.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 28px 80px 28px;
    margin-top: 80px
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 40px;
    padding: 16px 28px;
    width: 400px;
}

.item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: start;
}

.item-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
    margin-bottom: 24px;
    text-align: start;
}

.item-img {
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid #eee;
}

.item-container {
    flex: 0 0 50%;
    max-width: 50%;
}

.item-button {
    background-color: var(--base-color);
    border-style: none;
    border-radius: 30px;
    color: #fff;
    padding: 12px 30px;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
}

.item-button:hover {
    background-color: var(--hover-color);
}

.item-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.item-link {
    margin-left: 20px;
    background: #fff;
    color: var(--base-color);
    border: 1px solid var(--base-color);
    padding: 12px 30px;
    border-radius: 30px;
}

.item-link:hover {
    background: var(--hover-light-color);
}